.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header img {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.search-bar {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.search-input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.search-icon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
}

.option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.option-one {
    font-size: 10px;
}

.option-two {
    font-size: 13px;
    font-weight: 800;
}

.shopping-cart {
    display: flex;
    align-items: center;
    color: white;
}

.cart-count {
    margin-left: 10px;
    margin-right: 10px;
}